html,
body {
    height: 100%;
}

main {
    flex: 1;
}
.content-wrapper{
    flex: 1;
}
aside{
    min-width: 200px;
}
aside .nav-pills .nav-link {
    border-radius: 0;
    color: #444444;
}


aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}
.content-wrapper{
    margin-bottom: 200px;
}


/* Dummy 404 */
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

html {
  background: #b90000;
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

.static {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: -100px;
  opacity: 0.05;
  z-index: 230;
  user-select: none;
  user-drag: none;
}

.error {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 95px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60px;
  right: 0;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 150px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 .2s linear infinite;
}

.info {
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  animation: noise-3 1s linear infinite;
}

.error:before {
  content: '404';
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
  width: 100px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 .2s linear infinite;
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}


/* User Dashboad */

/* header */
:root {
    /* font-size: 10px; */
    --grey-text: #828282;
    --black-text: #111;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.site-search {
    flex-grow: 0.5;
    margin: 0 2.5rem;
    display: flex;
}

.search-input,
.search-btn {
    border: 0.1rem solid #ccc;
}

.search-input {
    flex-basis: 60rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-right: none;
    padding-left: 1rem;
    color: var(--black-text);
}

/* .search-input::-webkit-input-placeholder {
    color: var(--grey-text);
} */

/* .search-input:-ms-input-placeholder {
    color: var(--grey-text);
} */

/* .search-input::-ms-input-placeholder {
    color: var(--grey-text);
} */

.search-input::placeholder {
    color: var(--grey-text);
}

.search-btn {
    flex: 0 0 3.5rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    background-color: #f8f8f8;
    color: var(--black-text);
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}


.logo {
    flex: 0 0 15rem;
    margin-left: 2.5rem;
}

.menu-btn {
    font-size: 1.6rem;
    color: #888;
    padding: 0 0.5rem;
}

.logo h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.12rem;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
}

.logo-icon {
    color: #f00;
    padding-right: 0.5rem;
}


/* channel bunner */

/* Channel banner */

.channel-banner {
    flex-basis: 16vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("https://images.unsplash.com/photo-1486597622250-f997d79907f8?w=1400&h=600&fit=crop") no-repeat center 35%;
    background-size: cover;
    padding: 1.6rem;
}

.channel-social-links {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.channel-social-links li {
    display: inline-block;
    font-size: 1.8rem;
    padding-right: 1rem;
}

.channel-social-links li:last-of-type {
    padding-right: 0;
}

.google-plus {
    color: #dd4d40;
}

.twitter {
    color: #1da1f3;
}

.facebook {
    color: #3b5999;
}

/* Channel info */

.channel-info {
    background-color: #fafafa;
    padding-top: 1.6rem;
}

.channel-info .container {
    display: flex;
    align-items: center;
}

.channel-icon {
    flex-basis: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.channel-title {
    flex: 1 1 auto;
    margin: 0 2rem;
}

.channel-title h1 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--black-text);
    white-space: nowrap;
}

.channel-title i {
    font-size: 1.4rem;
    color: #6e6e6e;
}

.channel-subscriber-count {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--grey-text);
}

.channel-subscribe {
    display: flex;
    height: 3.7rem;
    color: var(--grey-text);
}

.subscribe-btn {
    width: 14.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #eee;
    margin-right: 0.4rem;
}

.notification-btn {
    width: 4rem;
    font-size: 2rem;
}

/* Channel navigation */



.channel-nav {
    background-color: #fafafa;
    padding-bottom: 0.5rem;
    white-space: nowrap;
    overflow-x: auto;
}

.channel-nav ul {
    display: flex;
    text-decoration: none;

}

.nav-item a {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    /* text-decoration: none; */
    color: var(--grey-text);
    padding: 1rem 3.2rem;
}

/* .nav-item a.current {
    color: var(--black-text);
    border-bottom: 0.3rem solid #6e6e6e;
} */
/*
.nav-item a:hover {
    color: var(--black-text);
} */

/* Channel content */

/* .channel-content .container {
    display: flex;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: var(--grey-text);
}

.channel-videos {
    display: flex;
    flex-direction: column;
    min-width: 42.5rem;
    max-width: 107rem;
}

.video-title {
    color: var(--black-text);
}

.video-meta-data,
.video-description {
    font-size: 1.3rem;
    font-weight: 400;
}

.video-description {
    max-width: 60rem;
    line-height: 1.4;
}

.video-meta-data li {
    display: inline-block;
}

.video-creator {
    padding-right: 0.4rem;
}

.video-views::after {
    content: "\00B7";
    font-size: 2.2rem;
    padding-left: 0.4rem;
    vertical-align: middle;
} */
